*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color: rgba(76,76,76,0.25);
    color: white;
}

header{
    display: grid;
    grid-template-columns: 1fr minmax(0,120rem) 1fr;
    grid-template-rows: auto auto;
    row-gap: 1.6rem;
    color: white;
    margin-bottom: 4.8rem;
    padding-bottom: 1.6rem;
    box-shadow: 0 0.2rem 1.2rem rgba(76,76,76,0.4);
}

.header-name-of-cafe{
    grid-column: 2/span 1;
    justify-self: center;
    margin-top: 1.6rem;
    font-size: 2rem;
}

nav{
    grid-column: 2/span 1;
    display: flex;
    justify-content: space-between;
}

nav a:link,
nav a:visited{
    display: inline-block;
    color: inherit;
    font-weight: 500;
    font-size: 1.8rem;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

nav a:hover,
nav a:active{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.4s;
}

.logo--l{
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    max-width: 8vw;
    box-shadow: 0 0.6rem 0.8rem rgba(76,76,76,0.4);
}

.logo--r{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    max-width: 8vw;
    box-shadow: 0 0.6rem 0.8rem rgba(76,76,76,0.4);
}

/*#########################*/
/*General*/
/*#########################*/

.grid{
    display: grid;
    margin-left: 9.6rem;
    margin-right: 9.6rem;
}

.flex{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1.6rem;
}

.flex--col{
    flex-direction: column;
}

article{
    display: grid;
    grid-template-columns: 1fr minmax(0,120rem) 1fr;
    grid-template-rows: repeat(5,auto);
    color: white;
    margin-bottom: 3.2rem;
    row-gap: 4.8rem;
    column-gap: 4.8rem;
}

.blog-item{
    grid-column: 2/span 1;
    margin-left: 9.6rem;
    margin-right: 9.6rem;
}

.blog-item h2{
    font-size: 3rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.blog-item div{
    align-self: flex-start;
    overflow: hidden;
}

.blog-item div img{
    height: 8rem;
    border-radius: 0.5rem;
    transition: all 0.4s;
    /*margin-left: 0.8rem;*/
}

.blog-item div img:hover{
    transform: scale(1.1);
}

.blog-item div span{
    align-self: flex-end;
    font-size: 1.6rem;
}

.blog-item p{
    font-size: 1.8rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
    text-align: center;
}

.blog-item--main-pic{
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0 1.8rem 2.4rem rgba(76,76,76,0.4);
    margin-bottom: 1.2rem;
    transition: all 0.4s;
}

.blog-item--main-pic:hover{
    opacity: 0.8;
}

.blog-item--read-more{
    font-size: 1.6rem;
}

.blog-item--read-more:link,
.blog-item--read-more:visited{
    text-decoration: none;
    border-bottom: 0.1rem solid currentColor;
    color: white;
    margin-bottom: 0.8rem;
}

.blog-item--read-more:hover,
.blog-item--read-more:active{
    border-bottom: 0.1rem solid transparent;
    transition: all 0.4s;
    color: white;
    margin-bottom: 0.8rem;
}

.blog-item::after{
    content: "";
    width: 100%;
    background-color: rgba(76,76,76,0.35);
    padding-bottom: 0.1rem;
    box-shadow: 0 0.1rem 0.2rem rgba(76,76,76,0.4);
}

.blog-item--last::after{
    padding-bottom: 0;
}

footer::before{
    content: "";
    width: 100vw;
    background-color: rgba(76,76,76,0.35);
    padding-bottom: 0.1rem;
    box-shadow: 0 0.1rem 0.2rem rgba(76,76,76,0.4);
    position: absolute;
    transform: translate(-42.85rem,-2.4rem);
}

.left{
    grid-column: 1/span 1;
}

.footer{
    grid-column: 2/span 1;
    display: grid;
    grid-template-columns: repeat(5,auto);
    margin-left: 9.6rem;
    margin-right: 9.6rem;
    background-color: rgba(76,76,76,-0.1);
    position: relative;
}

.footer h3{
    font-size: 2rem;
    text-decoration-style: solid;
    text-decoration-line: underline;
    margin-bottom: 0.8rem;
}

.footer a:link,
.footer a:visited{
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.footer a:hover,
.footer a:active{
    color: rgba(245,245,245,1);
    transition: color 0.3s;
}

.footer--about-us{
    grid-column: 1/span 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
}

.footer--careers{
    grid-column: 2/span 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer--social-impact{
    grid-column: 3/span 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer--order-and-pickup{
    grid-column: 4/span 1;
    /*grid-row: 1/span 1;*/
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer--help{
    grid-column: 5/span 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
