*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color: rgba(76,76,76,0.25);
}

.grid{
    display: grid;
}

.grid--2-rows{
    grid-template-rows: auto auto;
}

.grid--3-cols{
    grid-template-columns: 1fr minmax(0,120rem) 1fr;
}

header{
    color: white;
    padding-bottom: 1.6rem;
    row-gap: 1.6rem;
    box-shadow: 0 0.2rem 1.2rem rgba(76,76,76,0.4);
    position: relative;
}

@media (max-width: 1400px) {
    header{
        grid-template-columns: 1fr 1000px 1fr !important;
    }
}

@media (max-width: 1050px) {
    header{
        grid-template-columns: 1fr 850px 1fr !important;
    }
}

.header-name-of-cafe{
    grid-column: 2/span 1;
    justify-self: center;
    margin-top: 1.6rem;
    font-size: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}

@media (max-width: 1200px){
    nav{
        margin-right: 64px;
        margin-left: 64px;
    }
}

@media (max-width: 1050px){
    nav{
        margin-right: 24px;
        margin-left: 24px;
    }
}
nav a:link,
nav a:visited{
    display: inline-block;
    color: inherit;
    font-weight: 500;
    font-size: 1.8rem;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

nav a:hover,
nav a:active{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.4s;
}

.logo--l{
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    max-width: 8vw;
    box-shadow: 0 0.6rem 0.8rem rgba(76,76,76,0.4);
}

.logo--r{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    max-width: 8vw;
    box-shadow: 0 0.6rem 0.8rem rgba(76,76,76,0.4);
}

@media (max-width: 1500px){
    .logo--l{
        max-width: 6vw;
    }

    .logo--r{
        max-width: 6vw;
    }
}

.background{
    height: 90rem;
    background-image: linear-gradient(45deg,rgba(76,76,76,0.4),rgba(76,76,76,0.25)), url("img/club/rod-long-I79Pgmhmy5M-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 8rem;
}

.subscription div{
    grid-column: 2/span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    margin-left: 9.6rem;
    margin-right: 9.6rem;
    padding-top: 9.6rem;
    row-gap: 3.2rem;
    color: white;
    background-size: cover;
    background-position: center;
    height: 50rem;
}

.subscription h2{
    font-size: 3rem;
    text-transform: uppercase;
    justify-self: center;
    align-self: end;
}

.subscription p{
    grid-column: 1/span 1;
    font-size: 2rem;
    justify-self: center;
    text-align: center;
}

.description{
    color: white;
    row-gap: 2.4rem;
    margin-bottom: 8rem;
}

.description h3{
    font-size: 2.4rem;
    grid-column: 2/span 1;
    justify-self: center;
    margin-left: 9.6rem;
    margin-right: 9.6rem;
    margin-bottom: 1.2rem;
}

.description-account{
    grid-column: 2/span 1;
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    gap: 1.2rem;
}

.description-account ul{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    list-style: none;
    width: auto;
    text-align: center;
}

.num-icon{
    font-size: 4rem;
    transition: all 0.4s;
}

.num-icon:hover{
    transform: scale(1.15);
    color: rgba(76,76,76,0.65);
}

.description-list--heading{
    font-weight: 600;
    font-size: 2rem;
}

.favourite{
    color: white;
    row-gap: 2.4rem;
}

.favourite h3{
    grid-column: 2/span 1;
    font-size: 2.4rem;
    justify-self: center;
    margin-bottom: 1.2rem;
}

.favourite-hearts{
    grid-column: 2/span 1;
    margin-left: 8rem;
    margin-right: 8rem;
}

.favourite-hearts ul{
    display: flex;
    list-style: none;
    font-size: 2.4rem;
    justify-content: center;
    gap: 2.4rem;
}

.favourite-hearts button{
    color: white;
    text-decoration: none;
    border: 0;
    background-color: inherit;
    font-size: 2.4rem;
    border-bottom: 0.3rem solid transparent;
    cursor: pointer;
}

.favourite-btn--underline{
    border-bottom: 0.3rem solid rgba(76,76,76,0.45) !important;
}

.heart-icon{
    font-size: 1.6rem;
    color: #ef333a;
}

.prizes{
    margin-bottom: 8rem;
    background-color: rgba(76,76,76,0.1);
}

.prizes-container{
    grid-column: 2/span 1;
    margin-left: 12.8rem;
    margin-right: 12.8rem;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.prizes-container img{
    max-height: 19.2rem;
}

.prizes--flex-desc{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
}

.prizes--flex-desc span{
    font-size: 1.8rem;
    font-weight: 600;
    max-width: 65%;
    text-align: center;
}

.prizes--flex-desc p{
    font-size: 1.6rem;
    max-width: 65%;
    text-align: center;
}

.extras--headline{
    row-gap: 1.6rem;
    margin-bottom: 8rem;
    color: white;
}

.extras--headline h3{
    grid-column: 2/span 1;
    font-size: 2.4rem;
    justify-self: center;
}

.extras--headline p{
    grid-column: 2/span 1;
    font-size: 1.8rem;
    justify-self: center;
}

.extras{
    margin-bottom: 8rem;
    color: white;
}

.extras--flex-ul{
    grid-column: 2/span 1;
    display: flex;
    gap: 1.6rem;
}

.extras--flex-ul ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
}

.extras--flex-ul ul img{
    max-height: 15rem;
    margin-bottom: 1.2rem;
    transition: all 0.4s;
}

.extras--flex-ul ul img:hover{
    opacity: 0.8;
}

.extras--flex-ul ul h4{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.extras--flex-ul ul p{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.extras--flex-ul ul button{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    border: none;
    border-bottom: 0.2rem solid currentColor;
    transition: all 0.4s;
    text-align: center;
    cursor: pointer;
    background-color: inherit;
    padding: 0 auto;
}

.extras--flex-ul ul button:hover{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    border-bottom: 0.2rem solid transparent;
    text-align: center;
    background-color: inherit;
}

/*###########################*/
/*FOOTER*/
/*##########################*/

footer::before{
    content: "";
    width: 100vw;
    background-color: rgba(76,76,76,0.35);
    padding-bottom: 0.1rem;
    box-shadow: 0 0.1rem 0.2rem rgba(76,76,76,0.4);
    position: absolute;
    transform: translate(0,-2.4rem);
}

.footer{
    grid-column: 2/span 1;
    display: grid;
    grid-template-columns: repeat(5,auto);
    margin-left: 9.6rem;
    margin-right: 9.6rem;
    background-color: rgba(76,76,76,-0.1);
    position: relative;
    margin-bottom: 3.2rem;
    color: white;
}

.footer h3{
    font-size: 2rem;
    text-decoration-style: solid;
    text-decoration-line: underline;
    margin-bottom: 0.8rem;
}

.footer a:link,
.footer a:visited{
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.footer a:hover,
.footer a:active{
    color: rgba(245,245,245,1);
    transition: color 0.3s;
}

.footer--about-us{
    grid-column: 1/span 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
}

.footer--careers{
    grid-column: 2/span 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer--social-impact{
    grid-column: 3/span 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer--order-and-pickup{
    grid-column: 4/span 1;
    /*grid-row: 1/span 1;*/
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer--help{
    grid-column: 5/span 1;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
